################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/main.slnx/FileContentIndex
/.vs/main.slnx/v18
